<!--Quelle: http://www.html5marketplace.com/slideshow/-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>
$(window).load(function(){
		var pages = $('#container li'), current=0;
		var currentPage,nextPage;
		var timeoutID;
		var buttonClicked=0;

		var handler1=function(){
			buttonClicked=1;
			$('#container .button').unbind('click');
			currentPage= pages.eq(current);
			if($(this).hasClass('prevButton'))
			{
				if (current <= 0)
					current=pages.length-1;
				else
					current=current-1;
				nextPage = pages.eq(current);	

				nextPage.css("marginLeft",-300);
				nextPage.show();
				nextPage.animate({ marginLeft: 0 }, 400,function(){
					currentPage.hide();
				});
				currentPage.animate({ marginLeft: 300 }, 400,function(){
					$('#container .button').bind('click',handler1);
				});
			}
			else
			{

				if (current >= pages.length-1)
					current=0;
				else
					current=current+1;
				nextPage = pages.eq(current);	

				nextPage.css("marginLeft",300);
				nextPage.show();
				nextPage.animate({ marginLeft: 0 }, 400,function(){
				});
				currentPage.animate({ marginLeft: -300 }, 400,function(){
					currentPage.hide();
					$('#container .button').bind('click',handler1);
				});
			}		
		}

		var handler2=function(){
			if (buttonClicked==0)
			{
			$('#container .button').unbind('click');
			currentPage= pages.eq(current);
			if (current >= pages.length-1)
				current=0;
			else
				current=current+1;
			nextPage = pages.eq(current);	
			nextPage.css("marginLeft",300);
			nextPage.show();
			nextPage.animate({ marginLeft: 0 }, 400,function(){
			});
			currentPage.animate({ marginLeft: -300 }, 400,function(){
				currentPage.hide();
				$('#container .button').bind('click',handler1);
			});
			timeoutID=setTimeout(function(){
				handler2();	
			}, 6000);
			}
		}

		$('#container .button').click(function(){
			clearTimeout(timeoutID);
			handler1();
		});

		timeoutID=setTimeout(function(){
			handler2();	
			}, 6000);
		
});

</script>
<style type="text/css">
    #container{
        width:300px;
        height:145px;
        position:relative;
    }

    #container ul{
        width:300px;
        height:145px;
        list-style:none outside none;
        position:relative;
        overflow:hidden;
    }

    #container li:first-child{
        display:list-item;
        position:absolute;
    }

    #container li{
        position:absolute;
        display:none;
    }
</style>


<!-- Werbeflaeche panel -->
<div class ="panel-group">
    <div class ="panel panel-default">
        <div class="panel-heading">Werbung</div>
        <div id="container" style="margin-left:auto;margin-right:auto">
            <ul>
                <li><a href="http://www.fhnw.ch" target="_blank"><img src="pictures/werbung_fhnw.jpg" class="img-responsive img-rounded center-block" width="220" height="145"></a></li>
                <li><a href="http://www.fhnw.ch" target="_blank"><img src="pictures/werbung_fhnw2.jpg" class="img-responsive img-rounded center-block" width="220" height="145"></a></li>
                <li><a href="http://www.fhnw.ch" target="_blank"><img src="pictures/werbung_fhnw.jpg" class="img-responsive img-rounded center-block" width="220" height="145"></a></li> 
            </ul>
        </div>
        <div>
            <a href="buyAd.php">Werbefläche mieten</a>            
        </div>
    </div>
</div>
