<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>                    <!-- Werbeflaeche panel -->
                        <div class ="panel-group">
                                <div class ="panel panel-default">
                                    <div class="panel-heading">Werbung</div>
                                    <img src="pictures/werbung_fhnw.jpg" class="img-responsive img-rounded center-block" alt="FHNW"> 
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
