<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <!-- Sidebar -->
                <div class = "col-md-3">
                        <!-- Login panel -->
                        <div class ="panel-group">
                                <div class ="panel panel-default">
                                        <div class="panel-heading">Login</div>
                                        <div class="panel-body">
                                                <form role="form" action="login.php" method="POST">
                                                        <div class="form-group">
                                                                <label for="email">Emailaddresse:</label>
                                                                <input type="email" class="form-control" id="email" name="email">
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="pwd">Passwort:</label>
                                                                <input type="password" class="form-control" id="pwd" name="passwort">
                                                        </div>
                                                        <button type="submit" class="btn btn-default" value="einloggen">Login</button>
                                                </form>
                                        </div>
                                </div>
                        </div>
</html>
