<!-- navigation part of the page -->
<div class="row">
    <!-- for the right free space -->
    <div class = "col-md-1"></div>
    <!-- navigationbar -->
    <div class ="col-md-10">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <!-- Logo-->
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="index.php">Home</a></li>
                        <li><a href="course.php">Kurse</a></li>
                        <li><a href="fhprofil.php">FH</a></li>
                        <li><a href="addFH.php">FH hinzufügen</a></li>
                        <li class=""><a href="addAd.php">Werbeanfragen</a></li>
                        <li class=""><a href="reset_admin.php">Passwort ändern</a></li>
                    </ul>
                    <!-- nacbar right side -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- search function in the navbar -->
                            <form class="navbar-form" action="search.php" method="post" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Suche" name="q" value="">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" value="Search" name="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <!-- login in navbar -->
                        <li><a href="login/logout.php"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul> 
                </div>
            </div>
        </nav>
    </div>
    <!-- for the right free space -->
    <div class = "col-md-1"></div>
</div>
<div class ="row">
    <!-- for the left free space -->
    <div class = "col-md-1"></div>
