<!-- navigation part of the page -->
<div class="row">
    <!-- for the right free space -->
    <div class = "col-md-1"></div>
    <!-- navigationbar -->
    <div class ="col-md-10">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <!-- Logo-->
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.php">Home</a></li>
                        <li><a href="course.php">Kurse</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="fhprofil.php">FH <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="fh_enrolement.php">FH anmelden</a></li>
                            </ul>
                        </li>
                        <li><a href="impressum.php">Impressum</a></li>
                    </ul>
                    <!-- nacbar right side -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- search function in the navbar -->
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Suche" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <!-- login in navbar -->
                        <li><a href="#loginBox" class="toggle btn" role ="button"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul> 
                </div>
            </div>
        </nav>
    </div>
    <!-- for the right free space -->
    <div class = "col-md-1"></div>
</div>
<div class ="row">
    <!-- for the left free space -->
    <div class = "col-md-1"></div>

<script>
$(function () {

    $('.toggle').click(function (event) {
        event.preventDefault();
        var target = $(this).attr('href');
        $(target).toggleClass('hidden show');
    });

});
</script>   
