<!-- Sidebar starts in login_error.php -->

    <div id="sidebar" class ="panel-group hidden">
						<div class ="panel panel-default">
							<div class="panel-heading">Login</div>
							<div class="panel-body">
								<form role="form" action="login.php" method="POST">
									<div class="form-group">
										<label for="email">Emailaddresse:</label>
										<input type="email" name="email" class="form-control" id="email">
									</div>
									<div class="form-group">
										<label for="pwd">Passwort:</label>
										<input type="password" name="passwort" class="form-control" id="pwd">
									</div>
									<button type="submit" class="btn btn-default">Login</button>
								</form>
							</div>
						</div>
					</div>